@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
  }

  .container {
    width: 80%;
}
  
  .type-box {
    width: 100%;
    padding: 20px;
    background-color: #D0FEFE;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }

  .type-box:hover {
    transform: translateY(-5px);
  }
  
  .type-box h2 {
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    margin-bottom: 10px;
    color: #017374;
  }
  
  .type-box p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #1F3B4D;
  }
  